.filter {
  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: var(--backgound-component);
  border-radius: 5px;
  color: var(--color-text);
  gap: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  margin-bottom: 5px;
}

.title {
  padding: 5px 15px;
}

.tabs {
  display: flex;
  padding: 0px 15px;
}

.checkboxs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
