* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgound-body);
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff6d00;
  --primary-hover: #ff8124;
  --secondary: #2196f3;
  --secondary-hover: #73bef7;
  --checkbox-hover: #73bef72d;
  --backgound-body: #f3f7fa;
  --backgound-component: #ffffff;
  --color-text: #404040;
  --color-text-opacity: #b7b7b7;
  --color-button: #ffffff;
  --color-border: #e8eff4;
  --color-vertical: #f3f5f6;
}
